# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
bin/
.factorypath

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local secrets
application-local.properties
.env
